In [1]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
os.chdir("../")

## Wrangling

In [2]:
folder_path = os.path.dirname(os.getcwd()) + "/data/tourism/palau/"
file_path = folder_path + os.listdir(folder_path)[0]

In [3]:
palau = pd.read_excel(file_path, sheet_name="TabMth")
palau = palau.iloc[0:-1].reset_index().drop("index", axis=1)
palau.columns = palau.iloc[0]
palau = palau.iloc[1:].T
palau = palau.reset_index()
palau.columns = palau.iloc[0]
palau = (palau.rename({"Country Group": "Date"}, axis=1)
         .iloc[1:]
         .reset_index()
         .drop("index", axis=1))

In [4]:
# Change the data format
palau["Date"] = pd.to_datetime(palau["Date"])
for col in palau.columns[~palau.columns.isin(["Date"])]:
    palau[col] = palau[col].astype(float)


palau.to_csv(folder_path + "palau_monthly_visitor.csv",
             encoding="utf-8")
palau.head(5)

,Date,JAPAN,SOUTH KOREA,TAIWAN,CHINA,USA/CANADA,EUROPE,OTHERS,Total
0,2007-06-01,856.0,1291.0,3245.0,86.0,669.0,99.0,463.0,6709.0
1,2007-07-01,2119.0,1366.0,3269.0,33.0,653.0,144.0,437.0,8021.0
2,2007-08-01,3476.0,1354.0,3046.0,46.0,580.0,256.0,438.0,9196.0
3,2007-09-01,3022.0,910.0,2497.0,61.0,559.0,145.0,401.0,7595.0
4,2007-10-01,1807.0,1082.0,2298.0,49.0,774.0,390.0,395.0,6795.0

## Bokeh Visualization

In [5]:
from bokeh.palettes import Category20
from bokeh.plotting import figure, show, output_file
from bokeh.models import ColumnDataSource, HoverTool, Legend


output_file('palau_month_by_country.html')
p = figure(height=600, width=1000,
           title="Number of Passengers Per Month",
           x_axis_type="datetime",
           x_axis_label="Date",
           y_axis_label="Number of Passengers Per Month",
           tooltips=[("Country", "$name"),
                     ("Passenger per month", "@$name")])

countries = palau.columns[~palau.columns.isin(["Date", "Total"])].to_list()
p.add_layout(Legend(), 'right')
source = ColumnDataSource(palau)

for country, color in zip(countries, Category20[12]):
    # have to use different colnames for y-coords so tooltip can refer to @$name
    p.line('Date', country, source=source, name=country,
           legend_label=country, color=color)

p.legend.label_text_font_size = '9pt'
p.legend.click_policy = "mute"
p.legend.location = "top_left"

show(p)

## Correlation

In [6]:
folder = os.path.dirname(os.getcwd()) + "/data/tourism/"
flights = os.path.dirname(os.getcwd()) + "/data/tourism/aviation_seats_flights_pic.xlsx"

In [7]:
df = pd.read_excel(flights)
df = (df[(df.Country == "Palau") & (df.Aircraft_type == "passenger")]
      .reset_index()
      .drop("index", axis=1)
      [["Date", "Seats_arrivals_intl", "Seats_arrivals_total", "Number_of_flights_intl", "Number_of_flights_total"]])

df["Date"] = pd.to_datetime(df["Date"])

range_df = pd.DataFrame(pd.date_range(
    start='2019-01-01', end='2022-10-16'), columns=["Date"])
df = range_df.merge(df, on="Date", how="left")
df["Month"], df["Year"] = df["Date"].dt.month, df["Date"].dt.year

In [8]:
palau_ma = df.groupby(by=["Year", "Month"]).sum()[:-1]
palau_19_22 = palau[palau.Date >=
                    "2019-01-01"].reset_index().drop("index", axis=1)

In [9]:
palau_19_22

,Date,JAPAN,SOUTH KOREA,TAIWAN,CHINA,USA/CANADA,EUROPE,OTHERS,Total
0,2019-01-01,1953.0,1169.0,919.0,2072.0,626.0,310.0,280.0,7329.0
1,2019-02-01,2055.0,1035.0,1092.0,4059.0,702.0,438.0,371.0,9752.0
2,2019-03-01,2434.0,1090.0,1190.0,2549.0,826.0,483.0,461.0,9033.0
3,2019-04-01,1756.0,808.0,1099.0,3182.0,777.0,368.0,415.0,8405.0
4,2019-05-01,1288.0,1095.0,1393.0,2489.0,607.0,185.0,421.0,7478.0
5,2019-06-01,650.0,655.0,1399.0,2321.0,622.0,119.0,305.0,6071.0
6,2019-07-01,1090.0,773.0,1697.0,2319.0,724.0,163.0,288.0,7054.0
7,2019-08-01,2117.0,1058.0,1664.0,2580.0,535.0,183.0,381.0,8518.0
8,2019-09-01,1467.0,657.0,1253.0,2017.0,643.0,165.0,512.0,6714.0
9,2019-10-01,918.0,698.0,1300.0,1904.0,716.0,276.0,362.0,6174.0
10,2019-11-01,1417.0,1307.0,1328.0,2209.0,620.0,605.0,465.0,7951.0
11,2019-12-01,2545.0,1515.0,1101.0,2319.0,782.0,417.0,565.0,9244.0
12,2020-01-01,2200.0,1324.0,1343.0,3109.0,920.0,511.0,382.0,9789.0
13,2020-02-01,2280.0,880.0,831.0,122.0,644.0,547.0,290.0,5594.0
14,2020-03-01,1261.0,487.0,325.0,58.0,291.0,178.0,139.0,2739.0
15,2020-04-01,0.0,0.0,5.0,0.0,0.0,0.0,0.0,5.0
16,2020-05-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
17,2020-06-01,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0
18,2020-07-01,0.0,0.0,1.0,0.0,19.0,0.0,0.0,20.0
19,2020-08-01,2.0,0.0,14.0,0.0,13.0,1.0,0.0,30.0
20,2020-09-01,0.0,0.0,10.0,0.0,4.0,0.0,65.0,79.0
21,2020-10-01,0.0,0.0,3.0,1.0,9.0,1.0,1.0,15.0
22,2020-11-01,4.0,0.0,15.0,0.0,1.0,0.0,2.0,22.0
23,2020-12-01,4.0,0.0,6.0,0.0,1.0,0.0,1.0,12.0
24,2021-01-01,0.0,0.0,17.0,1.0,23.0,0.0,2.0,43.0
25,2021-02-01,0.0,0.0,2.0,0.0,29.0,0.0,4.0,35.0
26,2021-03-01,9.0,0.0,8.0,0.0,28.0,0.0,9.0,54.0
27,2021-04-01,0.0,0.0,205.0,0.0,48.0,0.0,3.0,256.0
28,2021-05-01,5.0,0.0,97.0,0.0,39.0,0.0,2.0,143.0
29,2021-06-01,0.0,0.0,5.0,0.0,74.0,0.0,2.0,81.0
30,2021-07-01,4.0,0.0,1.0,0.0,268.0,2.0,17.0,292.0
31,2021-08-01,23.0,6.0,669.0,24.0,349.0,7.0,80.0,1158.0
32,2021-09-01,31.0,6.0,884.0,7.0,322.0,9.0,30.0,1289.0
33,2021-10-01,20.0,0.0,367.0,6.0,210.0,17.0,33.0,653.0
34,2021-11-01,39.0,5.0,6.0,3.0,303.0,12.0,34.0,402.0
35,2021-12-01,28.0,7.0,309.0,4.0,400.0,12.0,65.0,825.0
36,2022-01-01,29.0,0.0,30.0,1.0,315.0,17.0,37.0,429.0
37,2022-02-01,36.0,11.0,9.0,0.0,414.0,19.0,29.0,518.0
38,2022-03-01,37.0,2.0,5.0,3.0,429.0,30.0,72.0,578.0
39,2022-04-01,80.0,15.0,38.0,5.0,688.0,101.0,311.0,1238.0
40,2022-05-01,101.0,16.0,2.0,5.0,541.0,18.0,68.0,751.0
41,2022-06-01,62.0,15.0,8.0,10.0,761.0,38.0,93.0,987.0
42,2022-07-01,96.0,8.0,15.0,9.0,708.0,127.0,137.0,1100.0
43,2022-08-01,99.0,17.0,82.0,5.0,375.0,133.0,125.0,836.0
44,2022-09-01,135.0,40.0,21.0,6.0,543.0,39.0,146.0,930.0

In [14]:
from scipy.stats import pearsonr

corr_seats, _ = pearsonr(palau_ma["Seats_arrivals_total"], palau_19_22["Total"])
corr_seat_flight, _ = pearsonr(palau_ma["Number_of_flights_total"], palau_19_22["Total"])
print(f"Pearson Correlation between FlightRadar's Seats Arrival and Palau's census data is{corr_seats: .4f}.", "\n", 
    f"Pearson Correlation between FlightRadar's # Of Flights Arrival and Palau's census data is{corr_seat_flight: .4f}.")

Pearson Correlation between FlightRadar's Seats Arrival and Palau's census data is 0.9710.
 Pearson Correlation between FlightRadar's # Of Flights Arrival and Palau's census data is 0.9699.

In [10]:
palau_ma_cor = palau_ma[["Seats_arrivals_total", "Number_of_flights_total"]].reset_index().drop([
    "Year", "Month"], axis=1)
viz_df = pd.concat([palau_ma_cor, palau_19_22["Total"]], axis=1)

In [12]:
matrix = viz_df.corr(method='pearson')
matrix

,Seats_arrivals_total,Number_of_flights_total,Total
Seats_arrivals_total,1.000000,0.997722,0.970974
Number_of_flights_total,0.997722,1.000000,0.969860
Total,0.970974,0.969860,1.000000